@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700|Open+Sans:400,600,700,800&display=swap');

:root{
    --Verde: rgba(0, 128, 87, 1);
    --GrisVerde: rgba(102, 128, 119, 1);
    --Naranja: rgba(255, 128, 0, 1);
    --Naranja-7: rgba(255, 128, 0, .7);
}

* {
    margin: 0;
    padding: 0;
}

.test {
    background: red;
}