@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');
/*font-family: 'Crimson Text', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display SC', serif;*/
*{
    margin: 0;
    padding: 0;
}
.perfil{
    background: #008057;
    position: fixed;
    width: 25%;
    height: 100%;  
    border-right: #FF6501 7px double;
    z-index: 10000;
}
.contenido{
    margin-top: 10%;
}
.icon-cerrar{
    position: absolute;
    text-decoration: none;
    font-size: 200%;
    color: white;
    margin: 7%;
}
.icon-cerrar:hover{
    color: #FF6501;   
}
img{
    width: 35%;
    margin-left: 34%;
}
.nombre{
    color: white;
    text-align: center;
   font-family: 'Crimson Text', serif; 
}
.correo{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;    
    text-decoration: none;
    color: #FF6501;
    transition: all 0.4s;
}
.correo:hover{
    font-size: 18px;
    text-decoration: underline;
}
.desc{
    color: white;
   font-family: 'Open Sans', sans-serif;
    margin-top: 10%;
}
.botones{
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5%;
    text-align: center;
    font-size: 18px;
}
.btnmaterias{
    width: 330%;
    position:static;
    padding: 10%;
    margin:40%;
    margin-bottom: 2px;
    list-style: none;
    cursor: pointer;
    transition: all 0.4s;
    background: #14CC6F;
}
.materias{
    text-decoration: none;
    color: white;
}

.btnmaterias:hover{
    background: #FF8000;
    border-radius: 10px;
    clip-path: polygon(0% 0%, 73% 0%, 80% 50%, 73% 100%, 0% 100%);
    transform: translateX(9%);
    padding-right: 140%;
    color: white;
    border: none;
}
.toggle{
    background: #FF8000;
    border-radius: 10px;
    clip-path: polygon(0% 0%, 73% 0%, 80% 50%, 73% 100%, 0% 100%);
    transform: translateX(9%);
    padding-right: 140%;
    color: white;
    border: none;
}
#materia{
    visibility: hidden;
    background:white;
    width: 74.7%;
    height: 100%;
    position: absolute;
    transform: translateX(33.9%);
}
#materia{
    display: grid;
    grid-template-columns: repeat(5, 3fr);
    grid-template-rows: repeat(5, 3fr);
}
.publicvista{
    padding: 10px;
    border-radius: 10px;
    grid-column: 2/7;
    grid-row: 2/7;
    transform: translateX(-16%);
    width: 25%;
    height: 25%;
-webkit-box-shadow: 1px 2px 16px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 2px 16px 3px rgba(0,0,0,0.75);
box-shadow: 1px 2px 16px 3px rgba(0,0,0,0.75);
}
.nombrevista{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.botonesa{
    border-top: 1px #FF8000 solid;
    text-align: center;
    padding: 5%;
}
.icon-eliminar,.icon-editar,.icon-eye{
    margin-top: 5%;
    color: black;
    text-decoration: none;
    font-size: 25px;
    transition: all 0.3s;
}
.icon-eliminar{
    color: red;
}
.icon-editar{
    color:#8e006d
}

.icon-eliminar:hover,.icon-editar:hover,.icon-eye:hover{
    color: #FF8000;
}
.icon-eliminar,.icon-eye{
    margin-right: 5%;
}

.crear{
    grid-column: 5/7;
    grid-row: 5/7;
    width: 55px;
    height: 50px;
    text-align: center;
    padding-bottom: 6px;
    background: yellow;
    color: black;
    font-size: 50px;
    border-radius: 50%;
    text-decoration: none;
    margin-left: 45%;
    margin-top: 20%;   
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}
.crear:hover{
    -webkit-box-shadow: 0px 1px 26px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 26px 6px rgba(0,0,0,0.75);
box-shadow: 0px 1px 26px 6px rgba(0,0,0,0.75);
}
.icon-volver{
    text-decoration: none;
    color: black;
    width: 5%;
    height: 5%;
    margin: 15px;
    margin-left: 25px;
    font-size: 20px;
    cursor: pointer;
}
.icon-volver:hover{
    color: #FF6501;
}

#volver{
    position: fixed;
    text-decoration: none;
    color: black;
    margin: 15px;
    margin-left: 25px;
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
}
#volver:hover{
    color: #FF6501; 
}
#crear{
    visibility: hidden;
    background: white;
    width: 74.7%;
    height: 100%;
    position: absolute;
    transform: translateX(33.9%);
    overflow: hidden;
}
.inicial{
    position:absolute;
    margin-left: 41.2%;
    font-size: 32px;
    margin-top: -0.8%;
}
.titulocrear{
   font-family: 'Playfair Display SC', serif;
    margin-top: 2%;
    text-align: center;
    font-size: 25px;
}
.titulo{
    margin-top: 3%;
    text-align: center;
    border: solid 1px #FF3F0D;
    height: 40px;
    font-size: 25px;
    border-radius: 4px; 
    margin-bottom: 2%;
}
.descripcionpublicacion{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 20px;
    border: solid 1px #FF3F0D;
    height: 250px;
    width: 500px;
}
.archivos-subidos{
    overflow-y: scroll;
    border: solid 1px #FF3F0D;
    height: 90px;
    width: 600px;
}
.espacio-documento-subido{
    height: 30px;
    width: 550px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.titulo-tabla{
    background: #212121;
    color: white;
    padding: 3px;
}
.eliminar-documento{
    margin-left: 3%;
}
.imagenessubida{
    display: inline-block;
    list-style: none;
    width: 20%;
    margin: -45px;
    margin-top:2%;
    margin-bottom: 4%;
}
input[type="file"] {
    display: none;
}
.subir {
    cursor: pointer;
}
#archivos1,#archivos2,#archivos3,#archivos4,#archivos5{
    text-decoration: none;
    font-size: 30px;
    width: auto;
}
#archivos1:hover{
    color: red;
}
#archivos2:hover{
    color: #15158e;
}
#archivos3:hover{
    color: #00aaa3;
}
#archivos4:hover{
    color: #FF6501;
}
#archivos5:hover{
    color: #db0000;
    cursor: pointer;
}
.youtube{
    background: white;
    text-align: center;
    padding: 30px;
    padding-bottom:5%;
    transform: translateY(50%);
    width: 50%;
    z-index: 1000;
    -webkit-box-shadow: 0px 0px 39px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 39px 5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 39px 5px rgba(0,0,0,0.75);
    transition: all 0.7s;
}
.youtube-active{
   transform: translateY(-60%); 
}
.youtube > h2{
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    margin-bottom: 1px;
}
.link{
    border: none;
    border: 1px solid #FF3F0D;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 1%;
    width: 65%;
}
.subir-youtube{
    width: 30%;
    background: rgb(147, 2, 2);
    color: white;
    text-decoration: none;
    padding: 10px;
}
.subir-youtube:hover{
    background: #f80000;
}
.publicar{
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;
    background: #13aa5e;
    z-index: -1000;
}
.publicar:hover{
    background:#14ed7f;
}