@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');
/*font-family: 'Crimson Text', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Playfair Display SC', serif;*/
*{
    margin: 0;
    padding: 0;
}
.perfil{
    background: #008057;
    position: fixed;
    width: 25%;
    height: 100%;  
    border-right: #FF6501 7px double;
    z-index: 10000;
}
.contenido{
    margin-top: 10%;
}
.icon-cerrar{
    position: absolute;
    text-decoration: none;
    font-size: 200%;
    color: white;
    margin: 7%;
}
.icon-cerrar:hover{
    color: #FF6501;   
}
img{
    width: 35%;
    margin-left: 34%;
}
.nombre{
    color: white;
    text-align: center;
   font-family: 'Crimson Text', serif; 
}
.correo{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;    
    text-decoration: none;
    color: #FF6501;
    transition: all 0.4s;
}
.correo:hover{
    font-size: 18px;
    text-decoration: underline;
}
.desc{
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10%;
}
.botones{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    width: 100%;
    font-size: 18px;
    direction: ltr;
}
.scroll-menu{
    margin-top: 20px;
    width: 27%;
    height: 45%;
    padding: 10px;
    position: fixed;
    direction: rtl;
    overflow-y: scroll;
}
.scroll-menu::-webkit-scrollbar{
    width: 7px;
}
.scroll-menu::-webkit-scrollbar-thumb{
    background: rgba(0, 252, 123, 0.78);
    border-radius: 5px;
}
.scroll-menu::-webkit-scrollbar-thumb:hover{
    background:#FF6501;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

.btnmaterias{
    width: 73%;
    margin-bottom: 20px;
    margin-left: 12px;
    padding: 10px;
    list-style: none;
    cursor: pointer;
    transition: all 0.4s;
    background: #14CC6F;
    direction: ltr;
}
.materias{
    text-decoration: none;
    color: white;
}

.btnmaterias:hover{
    background: #FF8000;
    clip-path: polygon(0% 0%, 73% 0%, 80% 50%, 73% 100%, 0% 100%);
    transform: translate(8%);
    padding-right: 5%;
    width: 100%;
}
.btnmaterias:active{
    background: #14CC6F;
}
.toggle{
    background: #FF8000;
    clip-path: polygon(0% 0%, 73% 0%, 80% 50%, 73% 100%, 0% 100%);
    transform: translate(8%);
    padding-right: 5%;
    width: 100%;
}
.espacio-muro{
    background:white;
    width: 74.7%;
    height: 100%;
    position: absolute;
    transform: translateX(33.9%);
    overflow: hidden;
}
.muro{
    width: 100%;
    height: 657px;
    border: none
}
#materia{
    visibility: hidden;
    background:white;
    width: 74.7%;
    height: 100%;
    position: absolute;
    transform: translateX(33.9%);
}
#materia{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(10px, 200px));  
}
.publicvista{
    padding: 10px;
    border-radius: 10px;
    margin: 10%;
    border: 1px solid #bcbcbc;
-webkit-box-shadow: 1px 2px 16px 3px rgba(0,0,0,0.25);
-moz-box-shadow: 1px 2px 16px 3px rgba(0,0,0,0.25);
box-shadow: 1px 2px 16px 3px rgba(0,0,0,0.25);
}
.nombrevista{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.botonesa{
    border-top: 1px #FF8000 solid;
    text-align: center;
    padding: 5%;
}
.icon-eliminar,.icon-editar,.icon-eye{
    margin-top: 5%;
    color: black;
    text-decoration: none;
    font-size: 25px;
    transition: all 0.3s;
    cursor: pointer;
}
.icon-eliminar:hover{
    color: #de0000;
}
.icon-eye:hover{
    color: #FF6501
}
.icon-editar:hover{
    color: #64c900;
}
.icon-eliminar,.icon-eye{
    margin-right: 5%;
}
.posicion-boton{
    float: right;
}
.crear{
    width: 55px;
    height: 50px;
    text-align: center;
    padding-bottom: 6px;
    background: yellow;
    color: black;
    font-size: 50px;
    border-radius: 50%;
    text-decoration: none;   
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}
.crear:hover{
    -webkit-box-shadow: 0px 1px 26px 6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 26px 6px rgba(0,0,0,0.75);
box-shadow: 0px 1px 26px 6px rgba(0,0,0,0.75);
}
.icon-volver{
    text-decoration: none;
    color: black;
    width: 5%;
    height: 5%;
    margin: 15px;
    margin-left: 25px;
    font-size: 20px;
    cursor: pointer;
}
.icon-volver:hover{
    color: #FF6501;
}

#volver{
    position: fixed;
    text-decoration: none;
    color: black;
    margin: 15px;
    margin-left: 25px;
    font-size: 20px;
    margin-top: 15px;
    cursor: pointer;
}
#volver:hover{
    color: #FF6501; 
}
#crear{
    visibility: hidden;
    background: white;
    width: 74.7%;
    height: 100%;
    position: absolute;
    transform: translateX(33.9%);
    overflow: hidden;
}
.inicial{
    position:absolute;
    margin-left: 41.2%;
    font-size: 32px;
    margin-top: -0.8%;
}
.titulocrear{
    font-family: 'Playfair Display SC', serif;
    margin-top: 2%;
    text-align: center;
    font-size: 30px;
}
.titulo{
    margin-top: 3%;
    text-align: center;
    border: solid 1px #FF3F0D;
    height: 40px;
    font-size: 25px;
    border-radius: 4px; 
    margin-bottom: 2%;
}
.descripcionpublicacion{
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 20px;
    border: solid 1px #FF3F0D;
    height: 250px;
    width: 500px;
    resize: none;
}
.archivos-subidos{
    overflow-y: scroll;
    border: solid 1px #FF3F0D;
    height: 90px;
    width: 600px;
}
.espacio-documento-subido{
    height: 30px;
    width: 550px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.titulo-tabla{
    background: #212121;
    color: white;
    padding: 3px;
}
.eliminar-documento{
    margin-left: 3%;
}
.imagenessubida{
    display: inline-block;
    list-style: none;
    width: 20%;
    margin: -45px;
    margin-top:2%;
    margin-bottom: 4%;
}
input[type="file"] {
    display: none;
}
.subir {
    cursor: pointer;
}
#archivos1,#archivos2,#archivos3,#archivos4,#archivos5{
    text-decoration: none;
    font-size: 30px;
    width: auto;
}
#archivos1:hover{
    color: red;
}
#archivos2:hover{
    color: #15158e;
}
#archivos3:hover{
    color: #00aaa3;
}
#archivos4:hover{
    color: #FF6501;
}
#archivos5:hover{
    color: #db0000;
    cursor: pointer;
}
.youtube{
    visibility: hidden;
    border-radius: 20px;
    background: white;
    text-align: center;
    padding: 30px;
    padding-bottom:5%;
    transform: translateY(60%);
    width: 50%;
    z-index: 1000;
    -webkit-box-shadow: 0px 0px 39px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 39px 5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 39px 5px rgba(0,0,0,0.75);
    transition: all 0.7s;
}
.youtube-active{
   transform: translateY(-60%); 
    visibility: visible;
}

.youtube-inactive{
    transform: translateY(60%);
    visibility: hidden;
}
.youtube > h2{
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    margin-bottom: 1px;
}
.link{
    border: none;
    border: 1px solid #FF3F0D;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 1%;
    width: 65%;
}

#cerrar-youtube{
    position: absolute;
    color: black;
    margin-left: 41%;
    margin-top: -3%;
    cursor: pointer;
}
#cerrar-youtube:hover{
    color: #ba0000;
}
.subir-youtube{
    font-family: 'Open Sans', sans-serif;
    width: 30%;
    background: #097700;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s all;
}
.subir-youtube:hover{
    border-radius: 10px;
    background: #00ac07;
}

.publicar{
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 10px;
    border-radius: 2px;
    text-decoration: none;
    background: #13aa5e;
    z-index: -1000;
}
.publicar:hover{
    background:#14ed7f;
}